<div>
    <h3>Welcome, {{session.name}}!</h3>
    <p class="journal-reminder">Start blogging!!</p>
</div>

<div class="row journal-container">
    <div class="col col-lg-7 order-lg-1 dreamEntry">
        <form id="dreamForm">
            <div class="form-group">
                <label for="subject">Type here</label>
                <input type="text" id="subject" name="subject" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="description">....</label>
                <textarea id="description" name="description" rows="4" cols="50" class="form-control"
                    required></textarea>
            </div>

            <div class="form-group d-flex">
                <button id="interpretBtn" class="submit-btn">Interpret Dream</button>
                <button class="submit-btn" id="submitDreamBtn" type="submit">Submit Journal</button>
            </div>
        </form>



        <button id="interpretBtn">Enter</button>
        <div id="loading" style="display: none;">Loading...</div>
        <div id="interpretation"></div>
    </div>

    <div class="col col-lg-5 order-2 allDreams">
        <h1><i class="fas fa-star"></i> Your Past Dreams <i class="fas fa-star"></i></h1>

        {{#each dreamArr}}
        <div class="previousDreams">
            <h6> {{subject}} </h6>
            <p><i>"{{description}}"</i></p>
            <p>{{interpretation}}</p>

            <!-- Wrap the delete button with a div -->
            <div class="delete-button-container">
                <i id="{{id}}" class='fas fa-trash delete-button'></i>
            </div>
        </div>
        {{/each}}
    </div>
</div>


<script src="/js/journal.js"></script>